$body-bg:#F3F7F5;
$white: #FFFFFF;
$white-transparent: rgba(243, 247, 245, .5);
$light: #F3F7F5;
$primary: #48B875;
$primary-dark: #34794f;

$secondary: #B54153;
$dark: #221622;
$dark-transparent: rgba(34, 22, 34, .5);
$info: #99aeb0;
$info-light: #C1CBCA;
$success: #5aac47;
$warning: #d79c0f	;
$danger: red   ;
