$body-bg:#F3F7F5;
$white: #FFFFFF;
$white-transparent: rgba(243, 247, 245, .5);
$light: #dfe4e3;
$primary: #4E5CE2;
$primary-dark: #4a2bb3;

$secondary: #B2B848;
$dark: #242f4b;
$dark-transparent: rgba(34, 22, 34, .5);
$info: #6ea8e7;
$success: #5aac47;
$warning: #d79c0f	;
